<header class="header">
  <h1>Goofspiel</h1>
  <div class="login">
    <% if(username) { %>
      <h4><%= username %></h4>
      <form action="/cards/logout" method="POST">
        <button class="logout">Logout</button>
      </form>
    <% } else { %>
      <form class="login" action="/cards/login" method="POST">
        <input type="text" name="username" placeholder="Email/Username">
        <input type="password" name="password" placeholder="Password">
        <button class="login">Login</button>
      </form>
      <form>
        <button class="register">Register</button>
      </form>
    <% } %>
  </div>
</header>

