<!-- Game Page Partial -->

<div>
  <form id='join'>
    <label>Join A Room</label>
    <input type="text" id="joinNumber">
    <button type="submit">Join</button>
  </form>
</div>
<div>
  <form id='create'>
    <label>Create A Room</label>
    <input type="text" id="roomNumber">
    <button type="submit">Create</button>
  </form>
</div>
<div>
  <button id="leaveRoom">Leave room</button>
</div>
