

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Games</title>

    <%- include partials/_head.ejs %>

    <!-- Games CSS -->
    <link rel="stylesheet" href="/styles/games.css" type="text/css">

    <!-- Users_games script -->
    <script type="text/javascript" src="/scripts/user-games.js"></script>

    <!-- Socket IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>

  <body>

    <div class="content">
      <%- include partials/_header.ejs %>

      <div class="spacer">
      </div>
      <main>
        <nav class="play-games">

          <button class="join-lobby goofspiel" data-game-name-id="1">Play Goofspiel <i class="material-icons">add_circle</i></button>
          <button class="join-lobby hearts" data-game-name-id="2">Play Hearts <i class="material-icons">add_circle</i></button>
        </nav>

        <div class="board">
          <nav class="games">
          </nav>

          <article class="game-table">
            <figure class="landing-screen">
            <% if(username) { %>
              <h3>Create a game to get started.</h3>
            <% } else { %>
              <h3>Please login to create games.</h3>
            <% } %>
            </figure>
          </article>
        </div>
      </main>
    </div>

    <footer class="footer">
      <h6>Created 2017</h6>
    </footer>

    <script>

    </script>
  </body>
</html>
