<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <%- include partials/_head.ejs %>

    <!-- Layouts CSS -->
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- App script -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="content">
      <%- include partials/_header.ejs %>

      <main>
        <div class="spacer">
          <p>This is a description of our site and all the cool card games you can play</p>
        </div>

        <section class="games">
          <article class="goofspiel">
            <header>
              Goofspiel
            </header>
            <section>
              Image placeholder
            </section>
            <footer>Play Now
            </footer>
          </article>

          <article class="hearts">
            <header>
              Hearts
            </header>
            <section>
              Image placeholder
            </section>
            <footer>Play Now
            </footer>
          </article>
        </section>
      </main>
    </div>

    <footer class="footer">
      <h6>Created 2017</h6>
    </footer>

  </body>
</html>
