<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <%- include /partials/_head.ejs %>

    <!-- Layouts CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- App script -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include _header.ejs %>
    <p>some kind of description about our site</p>
    <div class="row" style="margin: 10px;">
      <div class="col-sm-4">
        <img src="http://www.fillmurray.com/300/300">
        <button class="btn btn-block btn-success" action="#">Play Now</button>
      </div>
      <div class="col-sm-4">
        <img src="http://www.fillmurray.com/300/300">
        <button class="btn btn-block btn-success" action="#">Play Now</button>
      </div>
      <div class="col-sm-4">
        <img src="http://www.fillmurray.com/300/300">
        <button class="btn btn-block btn-success" action="#">Play Now</button>
      </div>
    </div>

  </body>
</html>
