<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <%- include partials/_head.ejs %>

    <!-- Layouts CSS -->
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <!-- App script -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="content">
      <%- include partials/_header.ejs %>

      <main>
        <div class="spacer">
          <a href="/cards/games">Games</a>
          <a href="/cards/rankings">Rankings</a>
        </div>

        <section class="games">
          <article class="goofspiel">
            <header>
              Goofspiel
            </header>
            <section>
              <img src="/images/goofspiel.png">
            </section>
            <footer>
              <a href="/cards/games">Play Now</a>
            </footer>
          </article>

          <article class="hearts">
            <header>
              Hearts
            </header>
            <section>
              <img src="/images/hearts.png">
            </section>
            <footer>
              <a href="/cards/games">Play Now</a>
            </footer>
          </article>
        </section>
      </main>
    </div>

    <footer class="footer">
      <h6>Created 2017</h6>
    </footer>

  </body>
</html>
