<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rankings</title>

    <%- include partials/_head.ejs %>

    <!-- Ranking CSS -->
    <link rel="stylesheet" href="/styles/rankings.css" type="text/css">

    <!-- Users_games script -->
    <script type="text/javascript" src="/scripts/game-rankings.js"></script>

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <div class="content">
      <%- include partials/_header.ejs %>
      <main>
        <div class="spacer">
          <button>
            <a href="/cards/games">Games</a>
          </button>
          <button class="current-page">
            <a>Rankings</a>
          </button>
        </div>
        <nav class="games">
          <h3>Rankings</h3>
          <button data-game-name-id="1">Goofspiel</button>
          <button data-game-name-id="2">Hearts</button>
          </nav>
        </nav>

        <table class="rankings">
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Wins</th>
          </tr>
        </table>

      </main>
    </div>

    <footer class="footer">
      <h6>Created 2017</h6>
    </footer>

  </body>
</html>
