<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <%- include partials/_head.ejs %>

    <!-- Layouts CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Users_games script -->
    <script type="text/javascript" src="/scripts/users_games.js"></script>

    <!-- Socket IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>

  <body>

    <%- include partials/_header.ejs %>

    <main>
      <nav class="play-games">
        <button class="show-games">Choose Game</button>
        <button class="join-lobby goofspiel" data-game-name-id="1">Play Goofspiel</button>
        <button class="join-lobby hearts" data-game-name-id="2">Play Hearts</button>
      </nav>

      <nav class="games">

      </nav>

      <figure class="game-id">
        <header>
          <h3>Opponent <span class="opponent-score"></span></h3>
        </header>

        <section class="deck">
          <h3>Deck</h3>
          <object class="deck-display">
            <img src="/images/cards/cardback.png" height="70" width="50">
          </object>
          <div class="play-area">
          </div>
        </section>

        <footer>
          <h3>Your Hand <span class="user-score"></span></h3>
          <object class="user-hand">
          </object>
        </footer>
      </figure>
    </main>

    <%- include partials/_games.ejs %>

    <div class='container'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='well'>
            <h3>Online Users</h3>
            <ul class='list-group' id='users'></ul>
          </div>
        </div>
        <div class='col-md-8'>
          <div class='chat' id='chat'></div>

          <form id='messageForm'>
            <div class='form-group'>
              <label>Enter Message</label>
              <textarea class='form-control' id='message'></textarea>
              <br />
              <input type="submit" class='btn btn-primary' value='Send Message' />
            </div>

          </form>
        </div>
      </div>
    </div>

    <script>
       // function createGame(id) {

       // }

      // $(function(){
      //   var socket = io.connect();





      //   // for(var gameId = 0; gameId < 5; gameId++) {
      //   //   createGame(gameId)
      //   // }





      //   var $Ready = $('#Ready');
      //   var $createRoom = $('#create')
      //   var $joinRoom   = $('#join')
      //   var $roomNumber = $('#roomNumber')
      //   var $joinNumber = $('#joinNumber')
      //   var $leaveRoom  = $('#leaveRoom')

      //   //create a room
      //   $createRoom.submit(function(e){
      //     e.preventDefault();
      //     socket.emit('createRoom', $roomNumber.val());
      //     $roomNumber.val('');
      //   })

      //   $joinRoom.submit(function(e){
      //     e.preventDefault();
      //     socket.emit('join_A_Room', $joinNumber.val());
      //     $joinNumber.val('')
      //   })

      //   socket.on('alert',function(data){
      //     console.log(data)
      //   })
      //  //leave a room
      //   $leaveRoom.on('click', function(){

      //   })

      //   $Ready.on("click", function(){
      //     // socket.emit()
      //   })
      //  //chat
      //  var $messageForm = $('#messageForm')
      //  var $message = $('#message')
      //  var $chat = $('#chat')



      //    $messageForm.submit(function(e){
      //      e.preventDefault();
      //      console.log('submited')
      //      socket.emit('send message', { gameId: 5,
      //                                    message: $message.val()});
      //      $message.val('');
      //    })

      //    socket.on('new message', function(data){
      //       $chat.append('<div class="well">'+ data.gameId + ": " + data.message +'</div>');
      //    })

      // })
    </script>
  </body>
</html>
