<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Games</title>

    <%- include partials/_head.ejs %>

    <!-- Layouts CSS -->
    <link rel="stylesheet" href="/styles/games.css" type="text/css" />

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Users_games script -->
    <script type="text/javascript" src="/scripts/users_games.js"></script>

    <!-- Socket IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>

  <body>

    <%- include partials/_header.ejs %>

    <div class="spacer">
    </div>
    <main>
      <nav class="play-games">

        <button class="join-lobby goofspiel" data-game-name-id="1">Play Goofspiel <i class="material-icons">add_circle</i></button>
        <button class="join-lobby hearts" data-game-name-id="2">Play Hearts <i class="material-icons">add_circle</i></button>
      </nav>

      <div class="board">
        <nav class="games">
        </nav>

        <article class="game-table">
          <figure>
            <header class="opponent">
              <h6></h6><span class="opponent-score"></span>
            </header>

            <div class="board-middle">
              <header class="opponent">
                <h6></h6><span class="opponent-score"></span>
              </header>
              <section class="deck">
                <h6>Deck</h6>
                <object class="deck-display">
                  <img src="/images/cards/cardback.png">
                </object>
                <div class="play-area">
                </div>
              </section>
              <header class="opponent">
                <h6></h6><span class="opponent-score"></span>
              </header>
            </div>

            <footer>
              <h6>Your Hand, Score: <span class="user-score"></span></h6>
              <object class="user-hand">
              </object>
            </footer>
          </figure>
        </article>
      </div>
    </main>

    <footer class="footer">
    </footer>

    <script>

    </script>
  </body>
</html>
