@import 'variables';

body {
  @include column;
  background-color: lightgrey;
  color: $text-color;

  > nav {
    @include row;
    align-items: flex-end;
    width: 100%;
    height: 150px;
    padding: 1vw;
    background-color: $nav-color;

    div {
      @include row;
    }
  }
}


input {
  border-radius: 3px;
  border: 1px solid grey;
  @include nav-input;
}

button {
  @include nav-input;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 3px;
}

button:hover {
  background-color: white;
}

main {
  width: 95vw;
  margin: 2vw;
  border: $borders;
  border-radius: $radius;
  background-color: #3E2723;
  @include clear;

  .play-games {
    width: 100%;
    padding: 1vw;
    background-color: $nav-color;
  }

  .games {
    display: flex;
    flex-direction: row;
    background-color: $nav-color;
    height: 40px;

    button {
      color: lightgrey;
      margin: 0px;
      height: 100%;
      width: 10vw;
      background-color: #3E2723;
      border-top: 1px solid #795548;
      border-left: 1px solid #795548;
      border-right: 1px solid #795548;
      border-bottom: none;
      border-radius: 10px 10px 0 0;
    }
  }
}

figure {
  @include clear;
  @include column;
  width: 94%;
  margin: 1vw 3%;
  background-color: $table-color;
  @include borders;

  img {
    height: 7vw;
    width: 5vw;
  }
}

header {
  width: 80%;
  height: 80px;
  margin: 1vw;
  background-color: $playarea-color;
  @include borders;
}

section {
  @include column;
  background-color: $card-color;
  @include borders;

  object {
    @include row;
    width: 25vw;
    margin: 1vw;
    @include borders;
  }
}

footer {
  @include row;
  height: 80px;
  width: 80%;
  margin: 1vw;
  background-color: $playarea-color;
  @include borders;
  @include clear;

  object {
    @include clear;
  }
}

