@import "header";

body {
  background-color: lightgrey;
  color: white;
}

.content {
    flex: 1 0 auto;
}

main {
  nav {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    background-color: $primary-light;
    // box-shadow: 0px 0.5px 0.5px $primary-dark;

    h3 {
      margin: 0 20px;
    }

    button {
      background-color: $primary-light;
      border: 0;
      margin: 0px 5px;
      padding: 0 20px;
      color: white;
      height: 50px;
    }

    .active-tab {
      border-bottom: 4px solid $secondary;
    }
  }

  table {
    width: 95vw;
    margin: 20px auto;
    background-color: white;

    th {
      color: white;
      background-color: $secondary-dark;
      padding: 10px;
    }

    td {
      color: $secondary-dark;
    }

    tr {
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}

.footer {
  background-color: $primary-light;
  box-shadow: 0px -0.5px 0.5px $primary;

  h6 {
    padding: 0px 20px;
  }
}

@media (max-width: 700px) {
  main {
    table {
      width: 100vw;
      margin: 20px 0;
      font-size: 10px;
    }
  }
}

@media (min-width: 900px) {
  main {
    table {
      font-size: 14px;
    }
  }
}
