@import "header";

body {
  background-color: lightgrey;
  color: white;
}

.content {
    flex: 1 0 auto;
}

main {
  .spacer {
    background-color: $primary;
    height: 50px;
  }

  nav {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    background-color: $primary-light;
    height: 50px;
    // box-shadow: 0px 0.5px 0.5px $primary-dark;

    h3 {
      margin: 0 0 0 20px;
    }

    .active-tab {
      border-bottom: 4px solid $secondary;
    }
  }

  table {
    width: 95vw;
    margin: 40px auto;
    background-color: white;
    text-align: center;

    th {
      background-color: $secondary-dark;
      padding: 10px;
    }

    td {
      color: $secondary-dark;
    }
  }
}

.footer {
  background-color: $primary-light;
  box-shadow: 0px -0.5px 0.5px $primary;

  h6 {
    padding: 30px;
  }
}
